<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HR" providerName="System.Data.SqlClient" connectionString="Data Source=HITU\MSSQLSERVER10;Initial Catalog=HR;Integrated Security=False; User Id=sa; Password=sa; MultipleActiveResultSets=True"/>

	</connectionStrings>
</configuration>